<h1>Create a toy</h1>
<form action="/toys" method="POST">
  <label for="name">Toy name: </label>
  <input type="text" id="name" name="toy[name]" />
  <br />
  <label for="type">Type of toy:</label>
  <input type="text" id="type" name="toy[variety]" />
  <br />
  <input type="submit" value="Create toy" />
</form>
