<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Create a toy</h1>
<form action="/toys" method="POST">
  <label for="name"><h3>Toy name: </h3></label>
  <input type="text" id="name" name="toy[name]" />
  <br />
  <label for="type"><h3>Type of toy:</h3></label>
  <input type="text" id="type" name="toy[variety]" />
  <br />
  <input type="submit" value="Create toy" />
</form>
