<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>The Great Big List of Toys</h1>
<h2>Welcome, <%= current_user.name %>.</h2>

<% if !@toys.empty? %>
  <ul>
  <% @toys.each do |toy| %>
  <li>
    <a href="/toys/<%= toy.id %>"><%= "#{toy.name} - #{toy.variety}" %></a>
  </li>
  <% end %>
  </ul>
<% else %>
<h4>There are no toys to display!</h4>
<% end %>
