<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h3>Sign Up</h3>

<form action="/signup" method="POST">
  <input type="text" name="owner[name]" placeholder="Name:" />
  <br />
  <input type="password" name="owner[password]" placeholder="Password:" />
  <br />
  <input type="submit" value="Create Account" />
</form>
