<h2>Owners</h2>

  <% @owners.each do |owner| %>
  <li>
    <a href="/owners/<%= owner.id %>"><%= "#{owner.name}" %></a>
  </li>
  <% end %>

<a href="/owners/<%= current_user.id %>">Back to your list</a>
<a href="/toys">See All the Toys!</a>
<a href="/logout">Logout</a>
