<h1><%= "Toy Collection: #{@user.name}" %></h1>
<% if !@user.toys.empty? %>
  <% @user.toys.each do |toy| %>
    <a href="/toys/<%= toy.id %>"><h3><%= "#{toy.name} - #{toy.variety}" %></h3></a>
  <% end %>
<% end %>
<<<<<<< HEAD
<% if current_user.id == @user.id %>
  <h3><a href="/toys/new">Click here to add new toys.</a></h3>
=======
<% if current_user.id == @owner.id %>
  <h3><a href="/toys/new">Add new toys.</a></h3>
>>>>>>> a1861a5fc4463a1c5174e0a949abeda33cc9cdd2
<% end %>
