<h1><%= "Toy Collection: #{@owner.name}" %></h1>
<% if !@owner.toys.empty? %>
  <% @owner.toys.each do |toy| %>
    <a href="/toys/<%= toy.id %>/edit"><h3><%= "#{toy.name} - #{toy.variety}" %></h3></a>
  <% end %>
<% end %>
<% if current_user.id == @owner.id %>
  <h3><a href="/toys/new">Click here to add new toys.</a></h3>
<% end %>

<a href="/owners/<%= current_user.id %>">Back to your list</a>
<a href="/toys">See All the Toys!</a>
<a href="/logout">Logout</a>
