<h1><%= "Toy Collection: #{@owner.name}" %></h1>
<% if !@owner.toys.empty? %>
  <% @owner.toys.each do |toy| %>
    <h3><%= "#{toy.name} - #{toy.variety}" %></h3>
  <% end %>
<% else %>
  <h3><a href="/toys/new">Click here to start adding toys.</a></h3>
<% end %>
